{
  "$schema": "./config.schema.json",
  "hosts": [
    {
      "host": "rpi",
      "user": "hoge",
      "port": 22,
      "password": "hoge"
    }
  ],
  "targets": [
    {
      "mac": "ab:cd:ef:01:23:45",
      "ip": "255.255.255.255",
      "port": 9,
      "preferredCommand": "wol"
    }
  ]
}
