---
import "../input.css";

import InputMacAddress from "../components/InputMacAddress.svelte";
import Invoke from "../components/Invoke.svelte";
---

<main class="h-svh grid place-content-center">
  <div class="card bg-base-100 image-full w-96 shadow-xl">
    <figure>
      <img
        src="https://img.daisyui.com/images/stock/photo-1606107557195-0e29a4b5b4aa.webp"
        alt="Shoes" />
    </figure>
    <div class="card-body justify-center gap-4">
      <div class="relative">
        <div class="input input-bordered text-xl flex items-center p-0 w-full">
          <InputMacAddress client:only="svelte" />
        </div>
        <button class="btn btn-ghost absolute top-0 right-0">Ghost</button>
      </div>

      <div class="card-actions justify-center">
        <Invoke client:only="svelte" />
      </div>


   </div>
  </div>
</main>


