---
import "../input.css";

import MacAddressContainer from "../components/MacAddressContainer.svelte";
---

<main class="h-svh grid place-content-center">
  <div class="card bg-base-100 image-full w-96 shadow-xl">
    <figure>
      <img
        src="https://img.daisyui.com/images/stock/photo-1606107557195-0e29a4b5b4aa.webp"
        alt="Shoes" />
    </figure>
    <div class="card-body justify-center gap-4">
      <MacAddressContainer client:only="svelte" />
   </div>
  </div>
</main>


